extends layout
block content
    div( class = "row d-flex justify-content-center mt-3" )
        div( class = "col-md-10" )
            div( class = "alert alert-danger text-right" )   User: #{user['id']}
            div( class = "row my-2" )
                div( class = "col-md-12" )
                    a( href = "#" )
                        div( class = "alert alert-success" )
                            p 
                                i( class="fas fa-user fa-2x mr-4" ) 
                                span #{user['name']}
                    hr( class = "my-3" )
                    h2  
                        span( class = "badge badge-warning" )       #{user['location']} 
                    h4  
                        span( class = "badge badge-secondary" )     #{user['email_address']} 
                    p  
                        span( class = "badge badge-success" )       #{user['phone_number']} 
                    p  
                        span( class = "badge badge-dark" )          Since #{user['createdAt']} 
            div( class = "row" )
                div( class = "col-md-6" )
                    div( class="jumbotron" )
                        h1( class="display-4" ) Hello, world!
                        p( class="lead") This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
                        hr( class="my-4" )
                        p It uses utility classes for typography and spacing to space content out within the larger container.
                        a( class="btn btn-primary btn-lg" href="#" role="button") Learn more
                div( class = "col-md-6" )
                    div( class="jumbotron" )
                        h1( class="display-4" ) Hello, world!
                        p( class="lead") This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
                        hr( class="my-4" )
                        p It uses utility classes for typography and spacing to space content out within the larger container.
                        a( class="btn btn-primary btn-lg" href="#" role="button") Learn more
                        